@import "./BreakPoints.scss";

@mixin purple {
    font-size: 48px;
    color: #8362F2;
    font-weight: 600;
}
@mixin underline {
    color: #8362F2;
    text-decoration: underline;
}

.country-details-cont{
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 50px;
  .back-btn{
    width: 169px;
    background-color:#8362F2; 
    display: flex;
    padding: 10px 12px 12px 10px;
    border-radius: 10px;
    margin: 20px 0 20px 0px;
    cursor: pointer;
    svg{
        margin-top: 3px;
        margin-right: 10px;
    }
    p{
        color: white;
        margin-left: 5px;
        font-weight: 400;
    }
  }
  .name-details{
    .nameflag{
        margin-bottom: 10px;
        display: flex;
        @include media("<=tablet"){
            width: 95%;
            margin: 0 auto 10px auto;
        }
        h1{
            font-size: 48px;
        }
        img{
            margin-top: 20px;
            margin-left: 10px;
            width: 48px;
            height: 36px;
            box-shadow: 3px 2px 7px rgb(148, 148, 148);
        }
    }
    .more-details{
        display: flex;
        @include media("<=tablet"){
            width: 95%;
            margin: 0 auto 0 auto;
        }
        p{  margin-right: 10px;
            color: white;
            font-weight: 600;
            background-color: #8DD5CC;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
  }
  .sub-region{
    display: flex;
    @include media("<=tablet"){
        display: block;
        div{
            width: 95%;
            margin: 0px auto 10px auto;
        }
      } 
  }
  .latlong{
    top: 35px;
    overflow: hidden;
    position: relative;
    width: 45%;
    max-width: 504px;
    height: 150px;
    box-shadow:0 0 4pt 2pt rgba(169, 169, 169, 0.155) ;
    margin-right: 20px;
    @include media("<=tablet"){
        top: 20px;
    }
    h6{
        text-align: left;
        font-size:18px ;
        margin: 20px 0 15px 20px;
        position: absolute;
    }
    img{
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        top: 20px;
    }
    .latlong-info{
        position: absolute;
        bottom: 30px;
        left: 20px;
        span{
            @include purple;
        }
    }
}
.CRS-section{
    top: 35px;
    overflow: hidden;
    position: relative;
    width: 50%;
    max-width: 504px;
    height: 150px;
    margin-right: 20px;
    box-shadow:0 0 4pt 2pt rgba(169, 169, 169, 0.155) ;
    @include media("<=tablet"){
        top: 20px;
    }
    .first{
        margin-top: 30px;
    }
    h6{
        font-size: 18px;
        text-align: left;
        margin: 7px 0 0 20px;
        font-weight: 400;
    }
}
  .callncurr-cont{
    display: flex;
    @include media("<=tablet"){
        margin-left: 12px;
    }
  }
  .calling-cont{
    width: 50%;
    text-align: left;
    margin-top: 70px;
    margin-right: 20px;
    h6{
        font-size: 20px;
    }
    h1{
        @include purple;
    }
    span{
        @include underline;
        cursor: pointer;
    }
}
.currency-cont{
    width: 45%;
    text-align: left;
    margin-top: 70px;
    h6{
        font-size: 20px;
    }
    h1{
        @include purple;
    }
    span{
        @include underline;
        cursor: pointer;
    }
}
}
.hidden{
    display: none;
}
.other-cont{
    width:200px ;
    max-height: 110px;
    outline: solid;
    color: white;
    background-color:#525252 ;
    padding: 15px 15px 15px 20px;
    overflow-y: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: none;
    p{
        margin-bottom: 5px;
    }
}
.other-mbl{
    float: right;
    margin-right: 10px;
}

.hover-sect:hover .other-cont{
    display: block;
}
.money{
    top: 20px;
        overflow: hidden;
        position: relative;
        width: 50%;
        max-width: 504px;
        height: 150px;
        box-shadow:0 0 4pt 2pt rgba(169, 169, 169, 0.155) ;
        margin-right: 20px;
        h6{
            font-size: 20px;
            margin: 20px 0 0 20px ;
            display: inline-flex;
        }
        p{
            margin-left: 10px;
            font-size: 18px;
            display: inline-flex;
            @include media("<=set3"){
                margin-left: 20px;
            }
        }
        .dollar-sign{
            margin: 7px 0  0 25px;
            @include media("<=set3"){
                padding-left: 20px;
            }
            span{
                font-size: 48px;
                font-weight: 600;
            }
            .signed{
                color: rgb(45, 252, 107);
            }
        }
}

.population{
    top: 20px;
    overflow: hidden;
    position: relative;
    width: 45%;
    max-width: 504px;
    height: 150px;
    box-shadow:0 0 4pt 2pt rgba(169, 169, 169, 0.155) ;
    h6{
        font-size: 20px;
        margin: 20px 0 0 20px ;
    }
    img{
        color: #878787;
        z-index: 0;
        position: absolute;
        top: 30px;
        right: -75px;
        width: 240px;
        filter: invert(55%) sepia(17%) saturate(1%) hue-rotate(41deg) brightness(93%) contrast(98%);
        opacity: 0.25;
    }
    p{
        font-size: 48px;
        font-weight: 600;
        color: rgb(48, 112, 251);
        margin: 7px 0  0 25px;
        @include media("<=set3"){
            margin-left: 17px;
        }
    }
}
